@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 48, 87);
    color: aliceblue;
}

header > h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    color: rgb(255, 208, 64);
    background-color: rgb(3, 94, 168);
    padding: 100px;
    margin: -10px;
}

main > h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1,4em;
    text-align: center;
    color: dodgerblue;
    padding-top: 10px;
}

h2{
    text-decoration: underline;
    font-size: 1.2em;
    color: rgb(175, 211, 243);
}

p{

}

footer > p{
    background-color: rgb(2, 58, 104) ;    
    color: aliceblue(255, 208, 64);
    text-align: center;
    font-weight: bold;
    padding: 10px 10px;
}

footer > p > a{
    color: rgb(255, 208, 64) ;
    text-decoration: dashed;
}

footer > p > a:hover{
    color: lightskyblue;
    text-decoration: underline;
}